root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
# Markdown は行末の空白2つが改行の意味を持つため削らない
trim_trailing_whitespace = false
